<h1>Instructions</h1>

<ul>

    <li>Verify that your contact information below is accurate. Use the edit button (pencil icon) to make changes, if needed.</li>
    <li>Click the "New" button next to the publication type that matches your publication.</li>
    <li>You may add up to 3 entries per publication type (e.g. up to 3 books, up to 3 articles, etc.)</li>
    <li>You may edit or delete your entries, if needed.</li>
    <li>When you are finished, click the "I'm Finished" link in the upper-right of the page.</li>
    <li>You will receive an email confirmation for each publication you add.</li>

</ul>

<p>Contact Melissa Cox Norris at <a href = "mailto: melissa.norris@uc.edu">melissa.norris@uc.edu</a> or by phone at (513) 556-1558 if you have questions.</p>
