<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Thank you for your submission of "<%= @publication.work_title %>" by: <%= all_authors_email(@publication) %>.<br><br>

    We look forward to your attendance at the event this year on September 22, 2020, 2:30-4:30pm in the Faculty Enrichment Center on the 5th floor of the Walter C. Langsam Library. More information about the event is forthcoming.<br><br>
    
    At the September 22nd event, we would like to include your work in a display. Please send a copy of your published work to:<br><br>

    Melissa Cox Norris <br>
    ML 33 <br>
    Langsam Library, Room 640<br>
    <br>by Tuesday, September 1st to be included in the display.<br><br>

    Following the event, the display will be moved to the fourth and fifth floor lobby display cases in Langsam Library.<br>
    Please include an address where I may return your publication after January 30, 2021.</p>
  </body>
</html>