<div class="container">
    <div class="row pl-2 mt-4">
        <h1>Artists, Authors, Editors & Composers</h1>
    </div>
    <div class="row pl-2">
        <p>The deadline for submissions has passed. Please look for the next call for submissions in spring 2021.</p>
    </div>
</div>