<div class="container">
  <div class="row pl-2 mt-4">
      <h1>Thank You</h1>
  </div>
  <br/>
  <div class="row pl-2">
    <p>Your submission(s) was received.  You should receive an email confirmation at the address provided.</p>
    <p>
      We would like to include your work in a display. Please send an electronic copy of your published work to
      <%= mail_to 'melissa.norris@uc.edu' %> OR a print copy to:
    </p>
    <p class="ps-5">
      Melissa Cox Norris<br />
      ML 0033<br />
      Langsam Library, Room 640
    </p>
    <p>
      Consider also sharing and preserving your publication in our digital repository <%= link_to 'Scholar@UC', 'https://scholar.uc.edu/', target: '_blank', rel: 'noopener noreferrer' %>.
    </p>
    <p>
      If you have more publications to submit, <%= link_to 'return to the submitter page', root_path %>.
    </p>
  </div>
</div>
