<div class="container">
    <div class="row pl-2 mt-4">
        <h1>Thank You</h1>
    </div>
    <div class="row pl-2">
      <p>Your submission(s) was received.</p>

      <p>
        We would like to include your work in a display. Please send an electronic copy of your published work to melissa.norris@uc.edu OR a print copy to:<br />
        <br />
        Melissa Cox Norris<br />
        ML 0033<br />
        Langsam Library, Room 640
      <p>
    </div>
</div>
