<div class="container">
    <div class="row pl-2 mt-4">
        <h1>Thank You</h1>
    </div>
    <div class="row pl-2">
        <p>Your submission(s) was received.<br><br>
 
        At the September 22nd event, we would like to include your work in a display. Please send a copy of your published work to:<br><br>

        Melissa Cox Norris<br>
        ML 33<br>
        Langsam Library, Room 640<br>
        by Tuesday, September 1st to be included in the display.<br><br>
        
        Contact melissa.norris@uc.edu or (513) 556-1558 with any questions.</p>
    </div>
</div>