<div class="d-flex flex-column flex-md-row justify-content-around align-items-center p-3">
  <%= image_tag "bookcase.png", alt: "empty bookcase", class: "img-fluid p1", style: "max-height: 50vh;" %>
  <div class="d-flex flex-column justify-content-md-between">
    <div>
      <h1 class="text-center">404</h1>
      <h2 class="text-center">Page Not Found</h2>
    </div>
    <div>
      <p class="p-2">
        If you need assistance, contact Melissa Norris<br />at melissa.norris@uc.edu or (513) 556-1558
      </p>
    </div>
  </div>
</div>


