<h2>Instructions</h2>

<ul>

    <li>Include only those submitted works performed or to be published between July 2019 and June 2020</li>

    <li>Please limit submissions to three per category per author, editor, or composer.</li>

    <li>Categories may include: books, book chapters, journal articles, editing, artwork, photography, plays, musical scores, CD's or DVD's, etc.</li>

    <li>Please complete a form for each work submitted.</li>

    <li>Please do not use your back button to submit multiple entries!</li>

</ul>

<p>Contact Melissa Cox Norris at <a href = "mailto: melissa.norris@uc.edu">melissa.norris@uc.edu</a> or by phone at (513) 556-1558 if you have questions.</p>