<div class="container offset-footer">

    <div class="row pl-2">
        <h1>Artists, Authors, Editors & Composers</h1>
    </div>
    <hr class="mt-0">
    <%= render 'instructions' %>
    <hr>
    <h2>Submitter Information</h2>
    <hr>
    <%= render 'form', submitter: @submitter %>

</div>