<div class="container offset-footer">

    <div class="row">
        <h1>Artists, authors, editors, composers</h1>
    </div>
    <hr>
    <%= render 'instructions' %>
    <hr>
    <%= render 'form', submitter: @submitter %>

</div>