/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

.required:after {
   content: " *";
   color: red;
}

.navbar {
   background-color: #e00122;
   color: #fff;
}

.nav-sub-bar {
   background-color: #b8011c;
   font-size: 1.2rem;
   font-weight: 700;
   padding-top: 5px;
   padding-bottom: 5px;
}

.offset-footer {
   margin-bottom: 40px;
}

.pagination {
   margin-bottom: 0;
}

.svg {
   fill: #fff;
}

.icon-black {
   font-size: 1.5em;
   color: black;
}

.icon-red {
   font-size: 1.5em;
   color: red;
}

.footer-top {
   background-color: #e00122;
   color: #fff;
   font-size: 18px;
}

.footer-top a,
.footer-top a:hover,
.footer-top a:active,
.footer-top a:visited {
   color: white;
}

.contact {
   background-color: #000;
}

.footer-title {
   font-size: 1.25rem;
   margin: 0;
}

.footer-padding {
   padding: 40px 40px 0 40px;
}

.footer-bottom {
   margin: 20px;
   font-size: .95rem;
}

.footer-bottom p {
   margin: .25rem;
}

.footer-bottom a:link {
   color: #000;
   text-decoration: underline;
}

.footer-bottom a,
.footer-bottom a:hover,
.footer-bottom a:active,
.footer-bottom a:visited {
   color: #000;
   text-decoration: none;
}

.thin-text {
   font-weight: 100;
}