<div class="container-fluid footer-top">
  <div class="col contact thin-text">
      <p class="social-icons d-flex justify-content-around">

          <a href="https://www.facebook.com/uclibraries/" target="_blank" aria-label="Facebook"><i
                  class="fab fa-facebook fa-2x" aria-hidden="true"></i></a>

          <a href="http://twitter.com/uclibraries" target="_blank" aria-label="Twitter"><i
                  class="fab fa-twitter fa-2x" aria-hidden="true" style="color: white;"></i></a>

          <a href="https://www.instagram.com/uc_libraries" target="_blank" aria-label="Instagram"><i
                  class="fab fa-instagram fa-2x" aria-hidden="true"></i></a>

          <a href="https://www.youtube.com/user/STRC1" target="_blank" aria-label="Youtube"><i
                  class="fab fa-youtube fa-2x" aria-hidden="true"></i></a>
      </p>
      <p>
          University of Cincinnati Libraries
          <br>PO Box 210033
          <br>Cincinnati, Ohio
          <br>45221-0033
          <br> <a href="https://libraries.uc.edu/about/contact.html">Contact Us</a> | <a
              href="https://libapps.libraries.uc.edu/main/contact/staff_directory.php">Staff
              Directory</a>
      </p>
  </div>
  <div class="footer-links-container">
    <div class="col footer-links-group footer-padding">
      <p class="footer-title"><strong>UC Tools</strong></p>
      <div class="footer-column-group">
        <div class="footer-links-column thin-text">
          <a href="https://canopy.uc.edu">Canopy &amp; Canvas</a>
          <a href="https://onestop.uc.edu/">Enrollment Services</a>
          <a href="https://mail.uc.edu">Email</a>
          <a href="https://catalyst.uc.edu/">Catalyst</a>
          <a href="https://bearcatportal.uc.edu/">Bearcat Portal</a>
        </div>
        <div class="footer-links-column thin-text">
          <a href="http://uc.transloc.com/routes">Shuttle Tracker</a>
          <a href="https://www.uc.edu/about/ucit/help.html">IT Help</a>
          <a href="https://vpn.uc.edu">UC VPN</a>
          <a href="https://mailuc.sharepoint.com/sites/Intranet">Bearcats Landing</a>
        </div>
      </div>
    </div>
    <div class="col footer-links-group thin-text footer-padding">
      <p class="footer-title"><strong>About Us</strong></p>
      <div class="footer-links-column">
        <a href="https://www.uc.edu/visitors.html">Maps &amp; Directions</a>
        <a href="https://www.uc.edu/careers.html">Jobs</a>
        <a href="https://uc.edu/news">News</a>
        <a href="https://www.uc.edu/inclusion.html">Diversity</a>
        <a href="http://www.uc.edu/about/policies.html">Governance &amp; Policies</a>
        <a href="https://ucdirectory.uc.edu">Directory</a>
        <a href="https://uc.edu/calendar">Events Calendar</a>
      </div>
    </div>
  </div>
</div>
<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p><strong>University of Cincinnati</strong> | 2600 Clifton Ave. | Cincinnati, OH 45221 | ph:
            513-556-6000</p>
        <p>
            <a href="https://www.uc.edu/alert.html">Alerts</a> |
            <a href="https://www.uc.edu/about/publicsafety/clery/annual-security-report.html">Clery and HEOA Notice</a> |
            <a href="https://www.uc.edu/about/non-discrimination.html">Notice of Non-Discrimination</a> |
            <a href="https://www.uc.edu/about/ucit/about/accessibility/eaccessibility-form.html">eAccessibility Concern</a> |
            <a href="https://www.uc.edu/about/privacy.html">Privacy Statement</a> |
            <a href="https://www.uc.edu/freespeech.html">Free Speech</a> |
            <a href="https://www.uc.edu/about/ucit/about/copyright.html">Copyright Information</a>
        </p>
        <p>&copy; 2024 University of Cincinnati</p>
      </div>
    </div>
  </div>
</div>